.github-profile {
  display: flex;
  width: 100%;
}

.github-profile .img {
  height: 100px;
}

.github-profile .container {
  padding: 0 10px 0 10px;
}

.github-profile .name {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media only screen and (min-width : 600px) {
  .github-profile {
    width: 600px;
    height: 130px;
  }
  .github-profile .img { 
    width: 130px;
    height: 130px;
  }
  .github-profile .name {
    font-size: 36px;
  }
  .github-profile .container {
    padding: 0 15px 0 15px;
  }
}

@media only screen and (min-width : 1280px) {
  .github-profile {
    width: 900px;
    height: 190px;
  }
  .github-profile .img {
    width: 190px;
    height: 190px;
  }
  .github-profile .name {
    font-size: 42px;
  }
  .github-profile .container {
    padding: 0 20px 0 20px;
  }
}

