.layout-header {
  height: 55px;
  background-color: #1c66ff;
  display: flex;
  justify-content: space-between;
}

.layout-header-link {
  display: flex;
  padding: 0 20px;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.layout-header-link svg {
  width: 160px;
}

.layout-header-link a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.layout-header .right-pane {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.right-pane svg {
  width: 100%;
  color: white;
}

.layout-header .repo-link {
  display: flex;
  width: 40px;
}

